.root { padding: 10px; }
.title { color: red; }
.pepe{color:darkmagenta;}
.a{color: green;}
.b{ color: red; }
.c{color:lightblue;}
.d{ color: red; }
.e{color:lightblue;}
.g{ color: red; }
.h{color:lightblue;}
.i{color:darkmagenta;}
.j{ color: blue; }
.k{color:darkmagenta;}
.l{ color: blue; }
.m{color:darkmagenta;}
.red{ color: red; }
.green{color: #228b35;}
.purple{color: #8b0e68;}
.redo{ color: #ff42b1; }
.redos{ color: #1859ff; }
.redoso{ color: #ff1518; }
.redosol{ color: #3eebff; }
.redosolo{ color: #f71eff; }