.root { padding: 10px; }
.title { color: red; }
.pepe{color:darkmagenta;}
.test{color:lightblue;}
.train{color:darkmagenta;}
.tryhard{color: #dbd518;}
.pepedos{color:lightblue;}
.pepetres{color:lightcoral}
.pepeuno{color: #dbd518;}
.uno{color: green;}
.cau{ color: purple; }
.a{color: green;}
.b{ color: red; }
.c{color:lightblue;}
.d{color: green;}
.e{color:red;}
.f{color: green;}
.g{color: red;}
.h{color: green;}
.j{color: red;}
.k{color: green;}
.h{color: red;}
.pee{color: orange;}
.peep{color: orange;}
.peek{color: green;}
.peed{color: orange;}
.deed{color: green;}
.feed{color: red;}
.jajaja{color: green;}
.jafar{color: red;}
.is{color: green;}
.my{color: red;}
.name{color: green;}
.afar{color: #9fd5ff;}
.ala{color: #3845ff;}